# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Documentation build
docs-public

# Source build files
**/dist
/build
.eslintcache

# Dependencies
node_modules

# Miscellaneous
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.envrc

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Tests
**/coverage