.webhook-testing-form dd {
  margin-inline-start: 25px;
  margin-bottom: 20px;
}

.webhook-request {
  margin-top: 5px;
  padding: 10px;
  padding-right: 25px;
  background-color: white;
  word-break: break-all;
}

.webhook-request pre {
  margin-top: 0px;
}

.webhook-response {
  margin-top: 5px;
  padding: 5px;
  color: white;
  background-color: yellowgreen;
  word-break: break-all;
}
.webhook-response dd {
  font-size: 1.5em;
}

.webhook-response.failure {
  background-color: tomato;
}

.webhook-response.start {
  background-color: darkslategray;
}

.code-quote {
  background-color: #eee;
  border-left: 6px solid #00458b;
  font-size: 1rem;
  line-height: 1.4;
  margin: 24px;
  padding: 24px;
  white-space: pre;
}

.copy-icon {
  cursor: "pointer";
  margin-left: 16px;
  height: 20px;
  width: 20px;
  position: relative;
  top: 40px;
  left: -16px;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left {
  margin: 0 auto;
  text-align: left;
  width: 60%;
}
