@import "fonts/NeueHaasUnica.css";

:root {
  --blue: #005AFF;
  --lightBlue: #e9f4fc;
  --lightGrey: #E8EFF2;
  --mediumGrey: #B3BFCC;
  --darkGrey: #6f788c;
  --white: white;
  --fontWeightRegular: 400;
  --fontWeightMedium: 500;
  --fontWeightHeavy: 800;
  --fontWeightHeavyBold: 900;
}

main {
  width: 100vw;
  height: 100vh;
  max-width: 1200px;
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "NeueHaasUnica", Helvetica, Arial, sans-serif;
}

input, select, textarea, button {
  font-family: inherit;
}

.center {
  text-align: center;
}

.navbar {
  grid-row: 1;
  height: 50px;
}

.navbar li {
  display: inline;
  margin: 5px;
}

#waymark-embed-container {
  grid-row: 2;
  box-sizing: border-box;
  display: none;
}

#waymark-embed-container.visible {
  display: block;
}

.initialization-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.test-form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-label {
  display: block;
  margin: 12px 0 4px;
  line-height: 1;
}

.submit-button {
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  padding: 14px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: var(--fontWeightHeavyBold);
  line-height: 1.125;
  letter-spacing: 0.15px;
  text-align: center;
}

.submit-button:disabled,
.submit-button[disabled] {
  background-color: var(--mediumGrey);
  color: var(--darkGrey);
}

input[type="text"] {
  width: 20em;
  line-height: 1.1875;
  letter-spacing: normal;
  background-color: var(--white);
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid var(--mediumGrey);
  transition: all 0.2s ease-in-out 0s;
  box-sizing: border-box; 
}

input[type="text"]:active,
input[type="text"]:focus {
  border-color: var(--blue);
  background-color: var(--lightBlue);
  outline: none;
}

select {
  background-color: var(--white);
  padding: 10px 32px 10px 12px;
  border-radius: 4px;
  border: 1px solid var(--mediumGrey);
  -webkit-appearance: none;
  /* Dropdown Arrow Image */
  background-image: url(
    "data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='10' viewBox='0 0 17 10'%3E%3Cpath fill='%251d2129' d='M8.405 10h-.007a1.21 1.21 0 01-.865-.375L.351 2.131A1.275 1.275 0 01.365.36a1.203 1.203 0 011.73.015l6.322 6.597 6.5-6.608a1.2 1.2 0 011.729.008 1.275 1.275 0 01-.008 1.771L9.266 9.637a1.207 1.207 0 01-.86.363'/%3E%3C/svg%3E");
  background-position: calc(100% - 10px) 50%;
  background-repeat: no-repeat;
}

select:active,
select:focus {
  border-color: var(--blue);
  background-color: var(--lightBlue);
  outline: none;
}

.form-button {
  margin-top: 10px;
  width: 16.7em;
}

div.loading {
  margin: 10px;
  font-size: 20px;
}

.hide-configuration {
  width: 150px;
  margin-left: 20px;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 10px;
  margin: 0 auto;
  text-align: left;
  width: 60%;
}

.three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 10px;
  margin: 0 auto;
  text-align: left;
  width: 60%;
}
