.collections-page {
  margin: 20px;
}

ul.collections {
  list-style: none;
}

ul.collection {
  margin-top: 10px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

li.collection {
  margin-top: 10px;
  list-style: "\00BB";
  font-size: 20px;
}

button.collection-name {
  cursor: pointer;
  background-color: white;
  border: 2px solid yellowgreen;
  font-size: 20px;
}
button.collection-name:hover {
  background-color: coral;
}

button.collection-filter-refetch {
  cursor: pointer;
  background-color: coral;
  border: 2px solid white;
  margin-left: 4px;
  color: white;
  font-size: 16px;
  padding: 4px 8px;
}

li.template {
  cursor: pointer;
  font-size: 20px;
  border: 2px solid yellowgreen;
  width: auto;
  text-align: center;
}
li.template button:hover {
  background-color: coral;
}
li.template button {
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: white;
  border: none;
}

img.thumbnail {
  height: 50px;
}
