.configuration-controls-form {
  display: grid;
  place-items: start start;
  height: 600px;
  grid-auto-flow: column;
}

.configuration-controls-form.closed {
  height: 0;
  display: none;
}

button.configuration-submit-button {
  margin-top: 60px;
}

.configuration-controls-subsection > label,
.configuration-controls-subsection > input {
  /* Indent contents of subsection to visually separate them */
  margin-left: 16px;
}
