.header-container {
    margin: 0 auto;
    text-align: center;
    padding: 24px 24px 6px;
}

.title {
    padding-top: 48px;
    width: 80%;
    font-size: 64px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -1.5px;
    margin: 0 auto;
}

.subtitle {
    margin: 0 auto;
    margin-top: 32px;
    padding-bottom: 24px;
    width: 60%;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: normal;
}
