.collections-page {
  margin: 20px;
}

.browser-columns {
  display: grid;
  grid-template-columns: 500px 500px 2fr;
  column-gap: 100px;
  padding-top: 10px;
}

.filters {
  position: relative;
  left: 30%;
  padding: 10px; 
}

.filter-titles {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 28px;
}

.category {
  width: 215px;
  border-bottom: 1px solid #B3BFCC;
}

button.filter-name {
  padding: 0;
  cursor: pointer;
  background-color: white;
  border-style: none;
  width:100%;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
}

button.filter-name:hover {
  background-color: #E8EFF2;
  border-radius: 2px;
}

.bottom-border {
  border-bottom: 1px solid #B3BFCC;
}

.templates {
  position: relative;
  right: 10%;  
}

.template-grids {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  grid-column-gap: 60px;
}

.template-grids > div {
  flex: 50%; 
}

.template-button {
  background-color: rgb(255, 255, 255);
  border: none;
  max-width: 212px;
  padding-bottom: 20px;
  font-size: 15px;
}

.template-container {
  cursor: pointer;
  width: 200px;
  height: 200px;
  padding-bottom: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* .video-container {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
} */

.thumbnail {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.video-fit {
  object-fit: scale-down !important;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
